body{
	background-color:#333333;
	font-family: Arial, sans-serif;
}

#box{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	width: 90%;
	max-width: 480px;
	background-color: #F5F5F5;
	padding: 2% 2% 2% 2%;
}

.text_field{
	width: 97%;
	height: 30px;
	margin-top: 3.44%;
	font-size: 1.063em;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 1%;
	padding-left: 1%;
}

.button{
	width: 98%;
	max-width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 1.72%;
	margin-top: 3.44%;
	background-color: #12a192;
	border: none;
	color: white;
	font-size: 0.813em;
	-webkit-appearance: none;
}

h1{
	font-size: 1.8em;
	text-align: center;
	font-weight: normal;
}

h2{
	font-size: 1.25em;
	font-weight: normal;
	margin-bottom: 0;
}

h3{
	margin-top: 0;
	font-size: 0.813em;
	font-weight: normal;
	color: #818181;
}

label.error{
	float: none;
	color: red;
	margin-bottom: 25px;
}